<!-- This could be anything about the package such as delivery details.
  You could even have a picture of the recipient here if you needed to verify ID before delivery -->
<div class="row">
  <div class="col-xs-12">
    <h1>Package #1</h1>
    Tap the button below or shake device to collect Signature.
    </br>
    <button href="sign.html" class="custom-link">Sign for Package</button>
    <button class='custom-link' href="index.html">Home</a>
  </div>
</div>

<!-- Start shake detection as soon as this page loads -->
<script type="text/javascript">
  $(function() {
    start();
  })
</script>